@page
@model BrandModel
@{
    ViewData["Title"] = "برند ها";
}
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">برند ها</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin" id="tblBrand">
                        <thead>
                            <tr>
                                <th>عنوان برند</th>
                                <th>غیر فعال</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.brnds)
                            {
                                <tr>
                                    <td><a>@item.Title</a></td>
                                    @if (item.IsHidden == true)
                                    {
                                        <td><i class="fa fa-check"></i></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    <td>
                                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row -->
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" id="frmBrand" enctype="multipart/form-data">
                        <input type="hidden" asp-for="brand.BrandId" />
                        <input type="hidden" asp-for="brand.Logo" />
                        <input type="hidden" asp-for="brand.IsHidden" />
                        <input type="hidden" asp-for="brand.OrderView" />
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label>عنوان </label>
                                    <input asp-for="brand.Title" type="text" class="form-control" placeholder="عنوان ">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group mt-md-8">
                                    <div class="form-control">
                                        <div class="checkbox-inline">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox" id="IsHidden">
                                                <span></span>عدم نمایش
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label>لوگو</label>
                                    <input asp-for="brand.UploadedFile" class="form-control" onchange="loadFile(event,'brandLogo')">
                                    <br />
                                    <div class="fv-plugins-message-container text-center mt-3 w-150px m-auto" id="F-See">
                                        <img id="brandLogo" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                    بستن</button>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    ثبت</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblBrand').DataTable({
                language: {
                    url: "/lib/datatables/Persian.json"
                },
                responsive: true,
                select: true,
                order: [[0, "desc"]],
            });
        });
    </script>
}