.ltr {
    direction: ltr !important
}

.image-box {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

    .image-box img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: #eee;
        object-position: center; /* وسط قرار میگیره */
    }

.text-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

