        <!--  = Footer =  -->
<!--  ==========  -->
<footer>
    <!--  = Middle footer =  -->
    <!--  ==========  -->
    <div class="foot-dark">
        <div class="container">
            <div class="row">

                <!--  ==========  -->
                <!--  = Menu 1 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">ناوبری</span> اصلی</h3>
                    </div>
                    <ul class="nav bold">
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">صفحات</a></li>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">کد های میانبر</a></li>
                        <li><a href="#">گالری</a></li>
                        <li><a href="#">تماس با ما</a></li>
                    </ul>
                </div>

                <!--  ==========  -->
                <!--  = Menu 2 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">دومین</span> ناوبری</h3>
                    </div>
                    <ul class="nav">
                        <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">مشاهده آخرین توییت ها</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                    </ul>
                </div>

                <!--  ==========  -->
                <!--  = Menu 3 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">سومین</span> ناوبری</h3>
                    </div>
                    <ul class="nav">
                        <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">مشاهده آخرین توییت ها</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                    </ul>
                </div>

                <!--  ==========  -->
                <!--  = Menu 4 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">چهارمین</span> ناوبری</h3>
                    </div>
                    <ul class="nav">
                        <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">مشاهده آخرین توییت ها</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cpContainter">
            <div class="mcopyright">
                <div class="inside">فارسی سازی و ویرایش توسط <a href="http://mrcode.ir" target="_blank" title="مِستِر کُد">MrCode.ir</a></div>
            </div>
        </div>

    </div> <!-- /middle footer -->
    <!--  ==========  -->
    <!--  = Bottom Footer =  -->
    <!--  ==========  -->
    <div class="foot-last">
        <a href="#" id="toTheTop">
            <span class="icon-chevron-up"></span>
        </a>
        <div class="container">
            <div class="row">
                <div class="span6">
                    &copy; Copyright 2013. Images of products by <a target="_blank" href="http://www.horsefeathers.eu/">محصول ویژه</a>.
                </div>
                <div class="span6">
                    <div class="pull-right">قالب HTML وبمارکت توسط<a href="http://www.proteusthemes.com">ProteusThemes</a></div>
                </div>
            </div>
        </div>
    </div> <!-- /bottom footer -->
</footer> <!-- /footer -->
<!--  ==========  -->
