	<!-- Start Banner Area -->
<section class="banner-area f5f6fa-bg-color">
	<div class="container-fluid social">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="banner-content">
					<h1 class="wow fadeInLeft" data-wow-delay="0.3s">تحصیلات لازم را با متخصصان آموزش آنلاین انجام دهید</h1>
					<p class="wow fadeInLeft" data-wow-delay="0.6s">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

					<a href="courses.html" class="default-btn wow fadeInLeft" data-wow-delay="0.9s">
						مشاهده دوره ها
					</a>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="banner-img wow fadeInRight" data-wow-delay="0.3s">
					<img src="~/img//banner-img/banner-img-1.jpg" alt="تصویر">
				</div>
			</div>
		</div>

		<!-- Start Social Wrap -->
		<ul class="social-wrap">
			<li class="follow-us">
				ما را دنبال کنید:
			</li>
			<li>
				<a href="#" target="_blank">
					<i class="bx bxl-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#" target="_blank">
					<i class="bx bxl-instagram"></i>
				</a>
			</li>
			<li>
				<a href="#" target="_blank">
					<i class="bx bxl-facebook"></i>
				</a>
			</li>
			<li>
				<a href="#" target="_blank">
					<i class="bx bxl-linkedin"></i>
				</a>
			</li>
		</ul>
		<!-- End Social Wrap -->
	</div>
</section>
<!-- End Banner Area -->