@model LoginRequestViewModel
@{
    Layout = "_LoginLayout";
}
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url('~/wwwroot/media/bg/bg-1.jpg');">
            <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="~/media/logos/logo-letter-13.png" class="max-h-75px" alt="" />
                    </a>
                </div>
                <!--end::Login Header-->
                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <div class="mb-20">
                        <h3 class="opacity-40 font-weight-normal">ورود به سیستم</h3>
                        <p class="opacity-40">برای ورود نام کاربری و کلمه عبور را وارد کنید:</p>
                    </div>
                    <form class="form">
                        <div class="form-group">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" asp-for="Username" placeholder="نام کاربری" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="password" asp-for="Password" placeholder="کلمه عبور" />
                        </div>
                        <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8 opacity-60">
                            <div class="checkbox-inline">
                                <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                                    <input type="checkbox" asp-for="RememberMe" />
                                    <span></span>مرا بخواطر بسپار
                                </label>
                            </div>
                            <a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">فراموشی رمز عبور</a>
                        </div>
                        <div class="form-group text-center mt-10">
                            <button type="button" onclick="LoginUser()" class="btn btn-pill btn-primary opacity-90 px-15 py-3">ورود </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->
@section Scripts {
    <script>
        function LoginUser() {
            var obj = {
                Username: $("#Username").val(),
                Password: $("#Password").val(),
                RememberMe: GetCheckBoxChecked("#RememberMe")
            };
            PostToServer("/Account/LoginUser", obj, function (res) {
                if (!res.isSuccess) {
                    ToastMessageError(res.message)
                } else {
                    ShowLoaderGif();
                    ChangeUrl("/")
                }
            }, true)
        }
    </script>
}