<!doctype html>
<html lang="fa">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Eduon - Education Online Courses & Training HTML Template">
    <meta name="description" content="Eduon - Education Online Courses & Training HTML Template">
    <meta name="author" content="Barat Hadian">
    <!-- Title -->
    <title>Eduon - قالب HTML ادوون , پوسته سایت شرکتی دوره های آموزش مجازی و یادگیری</title>
    <partial name="/Pages/Shared/Partials/_Styles.cshtml" />


    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png">


</head>

<body>

    <partial name="/Pages/Shared/Partials/_Loader.cshtml" />

    <partial name="/Pages/Shared/Partials/_Navbar.cshtml" />


    <partial name="/Pages/Shared/Partials/_Header.cshtml" />


    @RenderBody()


    <partial name="/Pages/Shared/Partials/_Footer.cshtml" />


    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-chevrons-up'></i>
        <i class='bx bx-chevrons-up'></i>
    </div>
    <!-- End Go Top Area -->
    <partial name="/Pages/Shared/Partials/_Scripts.cshtml" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>





